<section id="model-info" class="model-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 model-table">
        <div class="details">
          <div class="table-title">
            <span>Details</span>
          </div>
          <ul>
            <li class="database-details element">Database Configuration Details<i class="fa fa-info-circle element" data-toggle="tooltip" title="URL, Name, Host, Port, Username, Password" data-placement="top"></i></li>
            <li>Provide access to DRX Server IP</li>
            <li>For uploading assets, map existing databse according to the fields provided in</li>
          </ul>
        </div>
        <div class="model-details">
          <div class="model-1">
            <div class="table-title">
              <span class="main-title">Model 1</span>
              <div class="content">
                <p><span>Database:</span> <span>Subscriber</span></p>
                <p><span>Database Managed by:</span> <span>Subscriber</span></p>
                <p><span>Code Base:</span> <span>DRX</span></p>
              </div>
            </div>
            <ul>
              <li>Provided by Subscriber</li>
              <li>Provided by Subscriber</li>
              <li>Provided by Subscriber</li>
            </ul>
          </div>
          <div class="model-2">
            <div class="table-title">
              <span class="main-title">Model 2</span>
              <div class="content">
                <p><span>Database:</span> <span>Subscriber</span></p>
                <p><span>Database Managed by:</span> <span>Subscriber</span></p>
                <p><span>Code Base:</span> <span>DRX</span></p>
              </div>
            </div>
            <ul>
              <li>Provided by Subscriber</li>
              <li>Provided by Subscriber</li>
              <li>Provided by Subscriber</li>
            </ul>
          </div>
          <div class="model-3">
            <div class="table-title">
              <span class="main-title">Model 3</span>
              <div class="content">
                <p><span>Database:</span> <span>Subscriber</span></p>
                <p><span>Database Managed by:</span> <span>Subscriber</span></p>
                <p><span>Code Base:</span> <span>DRX</span></p>
              </div>
            </div>
            <ul>
              <li>Managed by DRX</li>
              <li>Managed by DRX</li>
              <li>Managed by DRX</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
