<!DOCTYPE html>
<html>
  <head>
    <title>BoTrak</title>
    <%= stylesheet_link_tag 'model_details', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'model_details', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
